page-about-student {
  ion-card img {
    /* display: block; */
    /* width: 100%; */
  }
  .prof-img {
    width: 100px;
    margin: 0 auto;
    border: 1px solid #ccc;
  }

  .content-page {
    background: url(../../assets/imgs/content-bg.jpg);
    // margin: 57px 14px 23px 0px;
    background-repeat: no-repeat;
  }

  .form-attendance {
    background: white;
    background-position: center;
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin: 15px auto;
  }
}
